$radius: 10px;
$grayOne: rgb(245, 245, 245);
$grayTwo: rgb(235, 235, 235);
$grayThree:  rgb(168, 168, 168);
$gray: rgb(211, 211, 211);
$redDelete:rgb(158, 27, 27);
$lightestBlue: rgb(98, 145, 179);
$lightBlue: rgb(0, 110, 153);
$darkBlue: rgb(0, 68, 114);